.inputToDo{  
 text-align: center;
 width: 100%; 
}
.inputText  {  
  width: 65%;
  padding: 12px 20px; 
  box-sizing: border-box; 
  border: 5px solid  grey;
} 

.inputBtn{  
  width: 30%;
 background-color: grey; 
 color: white; 
 padding: 15px 20px; 
}