 
 .toDoEntry{  
   display: flex; 
   justify-content: center;
   width: 100%;
 }
 .entry{   
  text-align: center;
  margin-top: 10px;
  padding-top: 10px; 
  padding-bottom: 10px;
  width: 95%;
  display: flex;   
  align-items: center;
  border: 5px solid grey; 
 }

.checkbox{  
  width: 20px;
  height: 20px;
flex: 10%;
} 

.todoText {  
  font-size: 25px;
  flex: 80%;
}

.todoDelete {  
  font-weight: bolder; 
  font-size: 25px;
  flex: 10%;
}